/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

@import "tailwindcss";

@theme {
    --color-dark: #667788;
    --color-dark-secondary: #556677;
    
    --color-light: #BDD2ED;

    --color-primary: #00bcff;
    --color-secondary: #A6E3FF;
}

/* Opções base para estrutura da ladingPage */

* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    color: #333;
    /* Teste de Fonts */
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Anton', georgia;
    --type-third: 'Spectral', georgia;
    
    /* Fonte estilo Codigo */
    --type-third: 'IBM Plex Mono', georgia;

    font-family: var(--type-first);
}

section{
    padding: 1.5rem 1rem;
    height: calc(100vh - 55px);
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AppBody{
    flex: 1;
    background: var(--color-dark);
}

.title{
    font-family: var(--type-second);
    line-height: 1;
    font-size: 2.25rem;
    display: block;
}

.subtitle{
    font-family: var(--type-third);
}

.divisor{
    display: block;
    height: 1px;
    width: 100%;
    background: var(--color-dark-secondary);
    margin: 1rem 0;
}

/* Animação */

.animeLeft{
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft{
    to{
        opacity: 1;
        transform: initial;
    }
}

.animeCenter{
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    animation: animeCenter .3s forwards;
}

@keyframes animeCenter{
    to{
        opacity: 1;    
        transform: scale(1);
    }
}